services:
  api:
    build:
      context: .
      dockerfile: docker/api/Dockerfile
    working_dir: /app
    volumes:
      - ./backend:/app
      - ./.env:/app/.env:ro
    env_file:
      - ./.env
    depends_on:
      - db
    ports:
      - "8000:8000"

  db:
    image: mariadb:11.3
    restart: always
    environment:
      - MARIADB_USER=charge
      - MARIADB_PASSWORD=charge
      - MARIADB_ROOT_PASSWORD=rootpassword
      - MARIADB_DATABASE=charge
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

  frontend:
    build:
      context: .
      dockerfile: docker/frontend/Dockerfile
    depends_on:
      - api
    ports:
      - "8080:80"
      - "443:443"
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt

  certbot:
    image: certbot/certbot:latest
    volumes:
     - ./certbot/www:/var/www/certbot
     - ./certbot/conf:/etc/letsencrypt

volumes:
  db_data:
