# Ignore dependencies and build artifacts to speed up docker builds
node_modules
npm-debug.log
.pnpm-lock.yaml
yarn.lock
package-lock.json

# Build outputs
.build
coverage
dist

# Environment & editor files
.env
.env.*
.DS_Store
*.local

# Git metadata
.git
.gitignore

# Logs
*.log

